<%- model_class = Crime -%>
<div class="page-header">
  <h1>Crime Report Details</h1>
</div>

<dl class="dl-horizontal col-md-offset-4">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @crime.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @crime.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category_name) %>:</strong></dt>
  <dd><%= @crime.category.name%></dd>
  <dt><strong><%= model_class.human_attribute_name(:district_name) %>:</strong></dt>
  <dd><%= @crime.district.name%></dd>
  <dt><strong><%= model_class.human_attribute_name(:details) %>:</strong></dt>
  <dd><%= @crime.details %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status_name) %>:</strong></dt>
  <dd><%= @crime.status.name%></dd>
  &nbsp;
  &nbsp;
  &nbsp;
  <div style="width: 400px;">
  <div id="map" style="width: 400px; height: 300px;"></div>
  </div>

  <script type="text/javascript">
    var map = new GMaps({
      div: "#map",
      lat: <%= @crime.latitude %>,
      lng: <%= @crime.longitude %>,
      width: '400px',
      height: '300px',
    });
    map.addMarker({
      lat: <%= @crime.latitude %>,
      lng: <%= @crime.longitude %>,
      title: "<%= @crime.address %>",
      click: function(e) {
        alert('You clicked in this marker');
      }
    });
  </script>

  <dt><strong><%= model_class.human_attribute_name(:latitude) %>:</strong></dt>
  <dd><%= @crime.latitude %></dd>
  <dt><strong><%= model_class.human_attribute_name(:longitude) %>:</strong></dt>
  <dd><%= @crime.longitude %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              crimes_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_crime_path(@crime), :class => 'btn btn-default' %>
